<!DOCTYPE html>
<html lang="en" dir="ltr">
	<!-- 10.17.238.73:7000 -->

<head>
	<meta charset="utf-8">
	<title>Visual Mode Interface</title>

	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style-controller.css">
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="script.js"></script>
	<link href="http://nicole.pizza/img/favicon.ico" rel="icon" type="image/x-icon">

	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<h1>Visual Mode Controller</h1>

	<div id="gifContainer" class="container">
		<div class="row">
			<div class="col">
				<h2>Gif Mode</h2>
			</div>
		</div>
		<div class="row">
			<div class="col">
				on/off: <input id="gifMode" type="checkbox"></input>
			</div>
		</div>
		<div class="row">
			<div class="col">
				gif keyword: <input id="getGifWord" type="text" placeholder="hit enter to send"></input>
				<br>
				<button id="submitGif">send gif!</button>
			</div>
		</div>
	</div>



		<div class="row">
			<div class="col">
				<h3>Background Color</h3>
				<div class="row">
					<div class="col" style="text-align: right;">
						Hue<br>Saturation<br>Lightness
					</div>
					<div class="col" style="text-align: left;">
						<input id="bgHue" type="range" min="0" max="360" value="0"></input><br> <input id="bgSat" type="range" min="0" max="100" value="50"></input><br><input id="bgLig" type="range" min="0" max="100" value="50"></input>
					</div>
				</div>
			</div>
		</div>
		<div id="avContainer" class="container">
			<div class="row">
				<div class="col">
					<h2>Abstract Visual Mode</h2>
				</div>
			</div>
			<div class="row">
				<div class="col">
					on/off: <input id="avMode" type="checkbox"></input>
				</div>
			</div>
		<div class="row">
			<div class="col">
				<h3>Foreground Color</h3>
				<div class="row">
					<div class="col" style="text-align: right;">
						Hue<br>Saturation<br>Lightness
					</div>
					<div class="col" style="text-align: left;">
						<input id="fgHue" type="range" min="0" max="360" value="0"></input><br> <input id="fgSat" type="range" min="0" max="100" value="100"></input> <br><input id="fgLig" type="range" min="0" max="100" value="50"></input>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<h3>Shapes</h3>
				<div class="row">
					<div class="col" style="text-align: right; line-height: 31.5px;">
						Squares: <br> Circles: <br> Triangles: <br> Squiggles: <br> Arcs:
					</div>
					<div class="col" style="text-align: left;">
						<input id="square" type="checkbox"></input> <br>
						<input id="circle" type="checkbox"></input><br>
						<input id="triangle" type="checkbox"></input><br>
						<input id="squiggle" type="checkbox"></input><br>
						<input id="arc" type="checkbox"></input>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>
