<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta charset="utf-8" />
	<title>Visual Mode - Welcome!</title>
	<link href="http://nicole.pizza/img/favicon.ico" rel="icon" type="image/x-icon" />


	<meta name="viewport" content="width=device-width, initial-scale=1">

	<style>
		@media screen and (max-width: 480px) {
			iframe {
				max-width: 100% !important;
				width: auto !important;
				height: auto !important;
			}
		}

	</style>
</head>

<body style="padding: 20px;">
	<h1> Welcome to Visual Mode</h1>
	<iframe src="https://giphy.com/embed/10YK5Hh53nC3dK" width="480" height="331" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

	<p style="font-size: 20px;"> please direct yourself to <a href="http://visualmode.space/controller">the controller</a>

		<p style="margin-top: 100px;" id="about">Made w/
			<3 by <a href="https://ellennickles.com">Ellen Nickels</a>, <a href="https://beverlychou.com">Beverly Chou</a>, <a href="http://alden.website">Alden Jones</a>, and <a href="https://www.ridwanmadon.com">Ridwan Madon</a>.</p>
	</p>
</body>

</html>
